:root {
  --my-custom-color: #f40187;
}

section {
  padding-top: 120px;
  padding-bottom: 100px;
}

.custom-thumbnail {
  border: 4px solid #eca1bb !important; /* Warna border biru Bootstrap */
  box-shadow: 0 0 15px #eca1bb !important; /* Shadow default */
}
.hero-box .box p {
  width: 500px;
}

.bg-primary {
  background-color: var(--my-custom-color) !important;
}

.text-primary {
  color: var(--my-custom-color) !important;
}

.btn-primary {
  background-color: var(--my-custom-color) !important;
  border-color: var(--my-custom-color) !important;
}

.btn-outline-primary {
  color: var(--my-custom-color) !important;
}

.btn-outline-primary {
  color: var(--my-custom-color) !important;
  border-color: var(--my-custom-color) !important;
}

.btn-outline-primary:hover,
.btn-outline-primary:active,
.btn-outline-primary:focus {
  color: #0c0c0c !important;
  background-color: var(--my-custom-color);
  border-color: var(--my-custom-color);


  body {
    background-color: #5c3140; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #212529; 
  } 